{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> Broadway Xpress services</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
{% block body %}
    <body>

    <!--==========================
      Header
    ============================-->
    <header id="header">
        <div class="container-fluid">

            <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">BXS</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="#intro"><img src="{% static 'img/logo.png' %}" alt="" title="" /></a>-->
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#intro">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Products</a></li>
                    {% comment %}<li><a href="#team">Team</a></li>
          <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>{% endcomment %}
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

    <!--==========================
      Intro Section
    ============================-->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

                <ol class="carousel-indicators"></ol>

                <div class="carousel-inner" role="listbox">

                    <div class="carousel-item active">
                        <div class="carousel-background"><img src="{% static 'img/intro-carousel/1.jpg' %}" alt="">
                        </div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Broadway Xpress Services</h2>
                                <p>We provide all type to cell-phone repairing & selling services</p>
                                <a href="tel:+17329639691" class="btn-get-started scrollto">Call Us</a>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="carousel-background"><img src="{% static 'img/intro-carousel/2.jpg' %}" alt="">
                        </div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2>Visit us at</h2>
                                <p>Broadway Xpress Services
593 broadway long branch NJ 07740
United States </p>
                                <a href="#featured-services" class="btn-get-started scrollto">Get Started</a>
                            </div>
                        </div>
                    </div>


                </div>

                <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>

                <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>

            </div>
        </div>
    </section><!-- #intro -->

    <main id="main">

        <!--==========================
          Featured Services Section
        ============================-->
        <section id="featured-services">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 box">

                        <h4 class="title"><a>Repairing Services</a></h4>
                        <p class="description">We takecare of your broken devices, cell phones, tablets, laptops and Gaming consoles. Furthermore, all
                            type of damaged or broken phones</p>
                    </div>

                    <div class="col-lg-4 box box-bg">

                        <h4 class="title"><a>Unlocked Devices</a></h4>
                        <p class="description">We sell unlocked brand new and certified pre-owned phones, iPads & Tablets of all the
                            famous brands at reasonable prices</p>
                    </div>

                    <div class="col-lg-4 box">

                        <h4 class="title"><a>Pre-Paid Plans</a></h4>
                        <p class="description">We can activate prepaid services here. Below are carriers we have here:
                            Metro by T-Mobile, AT&T Pre-paid, Simple mobile, Ultra Mobile, Lyca Mobile, Page Plus and
                            many more. </p>
                    </div>

                </div>
            </div>
        </section><!-- #featured-services -->

        <!--==========================
          About Us Section
        ============================-->
        <section id="about">
            <div class="container">

                <header class="section-header">
                    <h3>About Us</h3>
                    <p>Our aim is to offer outstanding services to conduct repair works or troubleshoot your smart
                        phones. For us, the repair work is not just about finding the fault and fixing it, it is about
                        quality parts that are made to last long. We make sure that each of the parts used for repairing
                        are brand new and of the highest quality.</p>
                </header>

                <div class="row about-cols">

                    <div class="col-md-4 wow fadeInUp">
                        <div class="about-col">
                            <div class="img">
                                <img src="{% static 'img/about-mission.jpg' %}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
                            </div>
                            <h2 class="title"><a>No Fix, No Fee</a></h2>
                            <p>
                                We do not charge diagnostic fee. You will pay only once your device is fixed</p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="about-col">
                            <div class="img">
                                <img style="height: 205px; width: 400px" src="{% static 'img/about-plan.jpg' %}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-list-outline"></i></div>
                            </div>
                            <h2 class="title"><a>Same-Day Repair*</a></h2>
                            <p>
                                Most of our repairs are done while you wait in the store or on the same day</p>
                        </div>
                    </div>

                    <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="about-col">
                            <div class="img">
                                <img style="height: 205px; width: 400px"  src="{% static 'img/about-vision.jpg' %}" alt="" class="img-fluid">
                                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
                            </div>
                            <h2 class="title"><a >Experienced Staff</a></h2>
                            <p>
                                Our technicians are certified and carry years of smart phone repair experience.</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- #about -->

        <!--==========================
          Services Section
        ============================-->
        <section id="services">
            <div class="container">

                <header class="section-header wow fadeInUp">
                    <h3>Services</h3>

                </header>

                <div class="row">


                    {% for service in services_list %}

                        <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
                            <h4 class="title"><a href="">{{ service.title }}</a></h4>
                            <p class="description">{{ service.description }}</p>
                        </div>

                    {% endfor %}


                    {% comment %}   <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Betray / Charging-port replacement</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
            <h4 class="title"><a href="">Device Unlocking</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Water Damage Repair</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">IPad / Tablet Screens</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="icon"><i class="ion-ios-people-outline"></i></div>
            <h4 class="title"><a href="">Mother-Board truble shooting</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
{% endcomment %}
                </div>

            </div>
        </section><!-- #services -->
        {% comment %} <section id="call-to-action" class="wow fadeIn">
      <div class="container text-center">
        <h3>Call Us</h3>
        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a class="cta-btn" href="#">Call To Action</a>
      </div>
    </section><!-- #call-to-action -->{% endcomment %}
        <!--==========================
          Facts Section
        ============================-->
        {% comment %}<section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
          <h3>Facts</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </header>

        <div class="row counters">

  				<div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clients</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Projects</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">1,364</span>
            <p>Hours Of Support</p>
  				</div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Hard Workers</p>
  				</div>

  			</div>
      </div>
    </section><!-- #facts -->{% endcomment %}
        <section id="portfolio" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3 class="section-title">Our Products</h3>
                </header>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            <li data-filter=".filter-app">Android</li>
                            <li data-filter=".filter-card">Iphone</li>
                            <li data-filter=".filter-web">Accessories</li>
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">
                    {#{% for ser in services_list %}#}
                    {#  <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">#}
                    {#            <div class="portfolio-wrap">#}
                    {#              <figure>#}
                    {#                <img src="{% static 'img/portfolio/app1.jpg' %}" class="img-fluid" alt="">#}
                    {#                <a href="{% static 'img/portfolio/app1.jpg' %}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>#}
                    {#                <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>#}
                    {#              </figure>#}
                    {##}
                    {#              <div class="portfolio-info">#}
                    {#                <h4><a href="#">App 1</a></h4>#}
                    {#                <p>App</p>#}
                    {#              </div>#}
                    {#            </div>#}
                    {#          </div>#}


                    {#{% endfor %}#}

                    {% for product in products %}
                        {% if product.category == 'Android' %}
                            <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.1s">
                        {% endif %}
                        {% if product.category == 'Iphone' %}
                            <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">
                        {% endif %}
                        {% if product.category == 'Accessories' %}
                            <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">
                        {% endif %}


                            <div class="portfolio-wrap">
                                <figure>
                                    <img src="{{ product.product_image.url }}" class="img-fluid" alt="">
                                    <a href="{% static 'img/portfolio/web3.jpg' %}" class="link-preview"
                                       data-lightbox="portfolio" data-title="Web 3" title="Preview"><i
                                            class="ion ion-eye"></i></a>
                                    <a href="#" class="link-details" title="More Details"><i
                                            class="ion ion-android-open"></i></a>
                                </figure>

                                <div class="portfolio-info">
                                    <h4><a href="#">{{ product.title }}</a></h4>
                                    <p>{{ product.price }}</p>
                                </div>
                            </div>
                        </div>


                    {% endfor %}
{##}
{#                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">#}
{#                        <div class="portfolio-wrap">#}
{#                            <figure>#}
{#                                <img src="{% static 'img/portfolio/web3.jpg' %}" class="img-fluid" alt="">#}
{#                                <a href="{% static 'img/portfolio/web3.jpg' %}" class="link-preview"#}
{#                                   data-lightbox="portfolio" data-title="Web 3" title="Preview"><i#}
{#                                        class="ion ion-eye"></i></a>#}
{#                                <a href="#" class="link-details" title="More Details"><i#}
{#                                        class="ion ion-android-open"></i></a>#}
{#                            </figure>#}
{##}
{#                            <div class="portfolio-info">#}
{#                                <h4><a href="#">Web 3</a></h4>#}
{#                                <p>Web</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">#}
{#                        <div class="portfolio-wrap">#}
{#                            <figure>#}
{#                                <img src="{% static 'img/portfolio/app2.jpg' %}" class="img-fluid" alt="">#}
{#                                <a href="{% static 'img/portfolio/app2.jpg' %}" class="link-preview"#}
{#                                   data-lightbox="portfolio" data-title="App 2" title="Preview"><i#}
{#                                        class="ion ion-eye"></i></a>#}
{#                                <a href="#" class="link-details" title="More Details"><i#}
{#                                        class="ion ion-android-open"></i></a>#}
{#                            </figure>#}
{##}
{#                            <div class="portfolio-info">#}
{#                                <h4><a href="#">App 2</a></h4>#}
{#                                <p>App</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">#}
{#                        <div class="portfolio-wrap">#}
{#                            <figure>#}
{#                                <img src="{% static 'img/portfolio/card2.jpg' %}" class="img-fluid" alt="">#}
{#                                <a href="{% static 'img/portfolio/card2.jpg' %}" class="link-preview"#}
{#                                   data-lightbox="portfolio" data-title="Card 2" title="Preview"><i#}
{#                                        class="ion ion-eye"></i></a>#}
{#                                <a href="#" class="link-details" title="More Details"><i#}
{#                                        class="ion ion-android-open"></i></a>#}
{#                            </figure>#}
{##}
{#                            <div class="portfolio-info">#}
{#                                <h4><a href="#">Card 2</a></h4>#}
{#                                <p>Card</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">#}
{#                        <div class="portfolio-wrap">#}
{#                            <figure>#}
{#                                <img src="{% static 'img/portfolio/web2.jpg' %}" class="img-fluid" alt="">#}
{#                                <a href="{% static 'img/portfolio/web2.jpg' %}" class="link-preview"#}
{#                                   data-lightbox="portfolio" data-title="Web 2" title="Preview"><i#}
{#                                        class="ion ion-eye"></i></a>#}
{#                                <a href="#" class="link-details" title="More Details"><i#}
{#                                        class="ion ion-android-open"></i></a>#}
{#                            </figure>#}
{##}
{#                            <div class="portfolio-info">#}
{#                                <h4><a href="#">Web 2</a></h4>#}
{#                                <p>Web</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">#}
{#                        <div class="portfolio-wrap">#}
{#                            <figure>#}
{#                                <img src="{% static 'img/portfolio/app3.jpg' %}" class="img-fluid" alt="">#}
{#                                <a href="{% static 'img/portfolio/app3.jpg' %}" class="link-preview"#}
{#                                   data-lightbox="portfolio" data-title="App 3" title="Preview"><i#}
{#                                        class="ion ion-eye"></i></a>#}
{#                                <a href="#" class="link-details" title="More Details"><i#}
{#                                        class="ion ion-android-open"></i></a>#}
{#                            </figure>#}
{##}
{#                            <div class="portfolio-info">#}
{#                                <h4><a href="#">App 3</a></h4>#}
{#                                <p>App</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">#}
{#                        <div class="portfolio-wrap">#}
{#                            <figure>#}
{#                                <img src="{% static 'img/portfolio/card1.jpg' %}" class="img-fluid" alt="">#}
{#                                <a href="{% static 'img/portfolio/card1.jpg' %}" class="link-preview"#}
{#                                   data-lightbox="portfolio" data-title="Card 1" title="Preview"><i#}
{#                                        class="ion ion-eye"></i></a>#}
{#                                <a href="#" class="link-details" title="More Details"><i#}
{#                                        class="ion ion-android-open"></i></a>#}
{#                            </figure>#}
{##}
{#                            <div class="portfolio-info">#}
{#                                <h4><a href="#">Card 1</a></h4>#}
{#                                <p>Card</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp" data-wow-delay="0.1s">#}
{#                        <div class="portfolio-wrap">#}
{#                            <figure>#}
{#                                <img src="{% static 'img/portfolio/card3.jpg' %}" class="img-fluid" alt="">#}
{#                                <a href="{% static 'img/portfolio/card3.jpg' %}" class="link-preview"#}
{#                                   data-lightbox="portfolio" data-title="Card 3" title="Preview"><i#}
{#                                        class="ion ion-eye"></i></a>#}
{#                                <a href="#" class="link-details" title="More Details"><i#}
{#                                        class="ion ion-android-open"></i></a>#}
{#                            </figure>#}
{##}
{#                            <div class="portfolio-info">#}
{#                                <h4><a href="#">Card 3</a></h4>#}
{#                                <p>Card</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.2s">#}
{#                        <div class="portfolio-wrap">#}
{#                            <figure>#}
{#                                <img src="{% static 'img/portfolio/web1.jpg' %}" class="img-fluid" alt="">#}
{#                                <a href="{% static 'img/portfolio/web1.jpg' %}" class="link-preview"#}
{#                                   data-lightbox="portfolio" data-title="Web 1" title="Preview"><i#}
{#                                        class="ion ion-eye"></i></a>#}
{#                                <a href="#" class="link-details" title="More Details"><i#}
{#                                        class="ion ion-android-open"></i></a>#}
{#                            </figure>#}
{##}
{#                            <div class="portfolio-info">#}
{#                                <h4><a href="#">Web 1</a></h4>#}
{#                                <p>Web</p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}

                </div>

            </div>
        </section><!-- #portfolio -->

        <!--==========================
          Contact Section
        ============================-->
        <section id="contact" class="section-bg wow fadeInUp">
            <div class="container">

                <div class="section-header">
                    <h3>Contact Us</h3>
                </div>

                <div class="row contact-info">

                    <div class="col-md-4">
                        <div class="contact-address">
                            <i class="ion-ios-location-outline"></i>
                            <h3>Address</h3>
                            <address>593 broadway long branch NJ 07740</address>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-phone">
                            <i class="ion-ios-telephone-outline"></i>
                            <h3>Phone Number</h3>
                            <p><a href="tel:+17329639691">+1 732 963 9691</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="contact-email">
                            <i class="ion-ios-email-outline"></i>
                            <h3>Email</h3>
                            <p><a href="mailto:info@example.com">cellphonecare786@gmail.com</a></p>
                        </div>
                    </div>

                </div>

                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form method="post">{% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {{ form.name }}
                                <div class="validation"></div>
                            </div>
                            <div class="form-group col-md-6">
                                {{ form.email }}
                                <div class="validation"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.subject }}
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            {{ form.message }}
                            <div class="validation"></div>
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>

            </div>
        </section><!-- #contact -->

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>BXS</h3>
                        <p>We are in mobile repairing business since a long time now. Cell phone is a very personal
                            device and you want it to be treated by the best. Trust us once and you will never have to
                            worry about finding a good mobile technician</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">About us</a></li>
                            <li><i class="ion-ios-arrow-right"></i> <a href="#">Services</a></li>


                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact</h4>
                        <p>
                            Broadway Xpress Services <br>
                            593 broadway long branch NJ 07740<br>
                            United States <br>
                            <strong>Phone:</strong> +1 732 963 9691<br>
                            <strong>Email:</strong> cellphonecare786@gmail.com<br>
                        </p>

                        <div class="social-links">
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.facebook.com/cellphonecare786/" class="facebook"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">

            <div class="credits">

                BootstrapMade
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
    <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{% static 'contactform/contactform.js' %}"></script>

    <!-- Template Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>

    </body>
{% endblock %}
</html>
